{:deps    {org.clojure/clojure                         {:mvn/version "1.10.3"}
           nl.epij/google-cloud-functions-ring-adapter {:mvn/version "0.1.0-SNAPSHOT"}
           ring/ring-json                              {:mvn/version "0.5.0"}
           ring/ring-devel                             {:mvn/version "1.8.2"}}
 :paths   ["src/clojure" "src/java"]
 :aliases {:test     {:extra-deps  {babashka/babashka                                        {:mvn/version "0.3.3"}
                                    com.google.cloud.functions.invoker/java-function-invoker {:mvn/version "1.0.2"}
                                    nl.epij.gcf/deploy                                       {:git/url   "https://github.com/pepijn/google-cloud-functions-clojure"
                                                                                              :sha       "56524a70f201340437a4da4578e8da4dbe5b8b4e"
                                                                                              :deps/root "deploy"}
                                    com.cognitect/test-runner                                {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                                                                              :sha     "209b64504cb3bd3b99ecfec7937b358a879f55c1"}}
                      :extra-paths ["test"]
                      :main-opts   ["-m" "cognitect.test-runner"]}
           :assemble {:extra-deps {nl.epij.gcf/deploy {:git/url   "https://github.com/pepijn/google-cloud-functions-clojure"
                                                       :sha       "3e5f7bfb780a3763dc22ca322689ce951c514488"
                                                       :deps/root "deploy"}}
                      :exec-fn    nl.epij.gcf.deploy/assemble-jar!
                      :exec-args  {:nl.epij.gcf/entrypoint   JsonHttpEcho
                                   :nl.epij.gcf/java-paths   ["src/java"]
                                   :nl.epij.gcf/compile-path "target/classes"
                                   :nl.epij.gcf/jar-path     "target/artifacts/application.jar"}}
           :run      {:extra-deps {nl.epij.gcf/deploy {:git/url   "https://github.com/pepijn/google-cloud-functions-clojure"
                                                       :sha       "3e5f7bfb780a3763dc22ca322689ce951c514488"
                                                       :deps/root "deploy"}}
                      :exec-fn    nl.epij.gcf.deploy/run-server!
                      :exec-args  {:nl.epij.gcf/entrypoint   JsonHttpEcho
                                   :nl.epij.gcf/java-paths   ["src/java"]
                                   :nl.epij.gcf/compile-path "target/classes"
                                   :nl.epij.gcf/jar-path     "target/artifacts/application.jar"}}}}
