{:deps  {org.clojure/java.classpath                               {:mvn/version "1.0.0"}
         badigeon/badigeon                                        {:mvn/version "1.4"}
         babashka/process                                         {:mvn/version "0.0.1"}
         com.google.cloud.functions.invoker/java-function-invoker {:mvn/version "1.0.2"}
         com.github.seancorfield/depstar                          {:mvn/version "2.0.193"}}
 :paths ["src"]}
