{:deps    {org.clojure/clojure             {:mvn/version "1.10.3"}
           org.clojure/java.classpath      {:mvn/version "1.0.0"}
           badigeon/badigeon               {:mvn/version "1.4"}
           babashka/process                {:mvn/version "0.0.1"}
           com.github.seancorfield/depstar {:mvn/version "2.0.193"}}
 :paths   ["src"]
 :aliases {:test    {:extra-deps  {com.google.cloud.functions.invoker/java-function-invoker {:mvn/version "1.0.2"}
                                   com.cognitect/test-runner                                {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                                                                             :sha     "209b64504cb3bd3b99ecfec7937b358a879f55c1"}}
                     :extra-paths ["test" "../example/src/clojure"]
                     :main-opts   ["-m" "cognitect.test-runner"]}
           :example {:extra-deps  {nl.epij.gcp.gcf/example {:local/root "../example"}}
                     :extra-paths ["../example/src/clojure"]}}}
